@font-face {
  font-family: 'Bavoroir';
  src: url(/fonts/Bavaroir-Reg.otf);
}
@font-face {
  font-family: 'Roboto';
}
@font-face {
  font-family: 'Open Sans';
}
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
html,
body {
  font-family: 'Open Sans', sans-serif, 'Roboto', Helvetica !important;
  font-weight: lighter !important;
  color: #3d4542;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}
/* Here we set that all headers and spans shall use the custom Bavoroir Font  */
h4,
h5 {
  font-family: 'Bavoroir';
}
h1 {
  font-family: 'Bavoroir';
}
h2,
h3 {
  color: black;
  margin-top: 4px;
  padding: 0 15px;
  font-family: 'Roboto', Helvetica !important;
  font-weight: 200;
  text-transform: uppercase;
}
#logo {
  margin-top: 20px;
  opacity: 0;
  z-index: 1000;
  height: 50px;
}
.alert-content {
  margin-top: 50px;
}
nav.navbar {
  right: 3%;
  background: none;
  background-color: white;
  border: none;
  text-transform: uppercase;
  transition: opacity 0.25s ease-in-out;
  height: 100px;
  border-bottom: 1px solid #ccc;
}
nav.navbar:hover {
  opacity: 1;
}
nav.navbar a.active {
  text-decoration: underline;
  color: black;
}
nav .doble-renglon {
  margin-top: -20px;
}
nav ul.nav {
  padding-top: 20px;
  font-size: 9pt;
}
nav ul.nav.social {
  padding-left: 35px;
  height: 30px;
  width: 200px;
  float: right;
}
nav ul.nav.social li {
  margin: auto 5px;
  padding: auto 5px;
}
nav ul.nav.social li a {
  font-size: 10pt;
  padding: 15px 5px;
}
#content.container {
  min-height: 800px;
  padding-top: 70px;
}
.footer {
  background-image: url('/img/gato-footer.png');
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: 600px -25px;
  background-size: auto;
  margin: 25px 0 0 0;
  padding: 25px 0;
}
.footer input {
  background-color: transparent;
}
.footer .social-nav {
  font-size: 14pt;
}
.footer .social-nav ul {
  margin-left: -20px;
}
.footer .social-nav ul li {
  padding: 0 5px;
}
.bottom-footer {
  margin: 0;
  background-color: #d7d5d5;
  padding: 25px 0;
}
.bottom-footer ul.nav li a {
  margin-top: -18px;
}
#blog {
  margin-top: 25px;
}
#blog h2 {
  color: black;
  margin-top: 4px;
  background-color: white;
  padding: 0 15px;
  font-family: 'Roboto', Helvetica !important;
  font-weight: 200;
  text-transform: uppercase;
}
#blog h2:before {
  background-image: url('/img/title_bar.png');
  content: '';
  background-repeat: no-repeat;
}
#blog hr {
  width: 400px;
  margin-bottom: -10px;
}
#blog #posts {
  text-align: center;
}
#blog #posts .feed-container {
  padding-top: 50px;
}
#blog #posts .feed-container .post-container .post-title {
  font-weight: bold;
  padding: 15px 0 0 18px;
  font-size: 12pt;
}
#blog #posts .feed-container .post-container img.post-image {
  width: 100%;
  height: 250px;
}
#blog #posts .feed-container .post-container img.post-image:hover {
  -webkit-filter: blur(2px) saturate(0%) brightness(15%);
}
#blog #posts .feed-container .post-container .post-date.well {
  margin-top: -20px;
  margin-left: 10px;
  padding: 5px;
  height: 80px;
}
#blog #posts .feed-container .post-container .post-day {
  font-size: 15pt;
  font-weight: bold;
}
#blog #posts .feed-container .post-container .post-month {
  text-transform: uppercase;
}
#blog #posts .feed-container .post-container .post-body {
  text-align: justify;
}
#tipos_footer ul {
  list-style: none;
  margin-left: -20px;
}
#tipos_footer ul li {
  font-size: 14pt;
}
#tipos_footer ul li a {
  color: black;
}
#tipos_footer ul li a:hover {
  text-decoration: none;
}
#tipos_footer ul li i#blanco {
  color: #C9C9C9;
  padding-right: 10px;
}
#tipos_footer ul li i#amarillo {
  color: #DEE35D;
  padding-right: 10px;
}
#tipos_footer ul li i#verde {
  color: #87E35D;
  padding-right: 10px;
}
#tipos_footer ul li i#oolong {
  color: #5DA7E3;
  padding-right: 10px;
}
#tipos_footer ul li i#rojo {
  color: #E35D5D;
  padding-right: 10px;
}
#tipos_footer ul li i#negro {
  color: #616161;
  padding-right: 10px;
}
#tipos_footer ul li i#puerh {
  color: #E3995D;
  padding-right: 10px;
}
