#club-header{
	margin-top: 25px;
	h1{
		text-transform: uppercase;
		font-family: 'Roboto';
		font-weight: thin;
		width: 600px;
		font-size: 40pt;
		padding-left: 180px;
		padding-top: 50px;
	}
	background-image: url('/img/club/tetera.png');
  	background-repeat: no-repeat;
  	background-attachment: absolute;
  	background-position: 70% 10px;
  	background-size: auto 270px;
  	height: 290px;
}

.parallax{
	&.well{
		&#key{
			@tamano: 300px;
			height: @tamano;
			padding: 0;
			ul{
				list-style: none;
				display: inline;
				padding: 0;
				left: 50%;
				position: absolute;
				margin-left: -400px;
				li{
					@ancho: 200px;
					text-align: center;
					display: inline-block;
					width: @ancho;
					margin-right: -3px;
					top: 0;
					left: 0;
					position: absolute;

					&:nth-child(1){}
					&:nth-child(2){margin-left: @ancho;}
					&:nth-child(3){margin-left: @ancho * 2;}
					&:nth-child(4){margin-left: @ancho * 3;}
					.keySpecs(@color){
						background-color: @color;
						padding-top: 90px;
						img{
							margin-top: -20px;
						}
						p{
							margin-top: 10px;
						}
					}
					.default-key{
						height: @tamano;
						&.one{
							.keySpecs(#abdde0);
						}
						&.two{
							.keySpecs(#e0abdc);
							p{
								margin-top: 30px;
							}
						}
						&.three{
							.keySpecs(#c3e0ab);
							p{
								margin-top: 20px;
							}
						}
						&.four{
							.keySpecs(#e0bdab);
							p{
								margin-top: 15px;
							}
						}
					}
					.active-key{
						&.one{
							.keySpecs(#abdde0);
						}
						&.two{
							.keySpecs(#e0abdc);
						}
						&.three{
							.keySpecs(#c3e0ab);
						}
						&.four{
							.keySpecs(#e0bdab);
						}
					}
				}
			}
		}
		&#unete{
			text-align: center;
			color: white;
			margin-top: 300px;
			height: 350px;
			background-image: url('/img/club/pajaros.png');
			background-repeat: no-repeat;
	  		background-position: 0 0;
			img{
				padding: 0;
				margin: 0;
				width: 100%;
			}
			h1{
				font-size: 40pt;
			}
			p{
				width: 700px;
				font-size: 18pt;
				margin-top: 20px;
				margin-bottom: 50px;
			}
			a{
				color: white;
				border: 2px solid white;
				padding: 10px 25px;
				text-transform: uppercase;
			}
		}
		&#clientes{
			height: 180px;
			margin-top: 180px;
			h1{
				margin-top: -80px;
			}
			ul{
				display: inline-block;
				list-style: none;
				li{
					display: inline-block;
					img{
						margin: auto 25px;
					}
				}
			}
		}
	}
}

#extras{
	margin-top:730px;
	h1{
		margin-top: -50px;
	}
	img{
		width: 100%;
	}
}

#blog{
	margin-top:500px;
}
