.parallax{
  height: 280px;
  background-image: url('/img/galeria-te/tetera.png'), url('/img/galeria-te/conejo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% 100px, 35% 100px;
  background-size: auto 260px, auto 280px;
  #quote{
  	margin-top: 65px;
  	padding-left: 50%;
  	margin-left: -420px;
  	p{
  		font-size: 28pt;
  		width: 400px;
  		font-weight: thin 100;
  		&:before{
  			content: '"';
  		}
  		&:after{
  			content: '"';
  		}
  	}
	span{
		font-weight: bold;
	}
  }
}

figure{
	h4{
		font-family: 'Helvetica';
		text-transform: uppercase;
		text-align: center;
	}
}

#grid3d{
	margin-top: 300px;
	.dummy-img{
		img{
			width: 600px;
			margin-top:-20px;
		}
	}
	h1{
		text-align: center;
		span{
			display: block;
			font-size: 50%;
		}
	}
	.dummy-text{
		width: 100%;
		text-align: justify;
		font-size: 16pt;
		color: black;
		margin-top: 190px;

	}
}

.shop-actions{
	margin-right: -255px;
	h1, h2, h3, h4{
		font-family: 'Roboto', Helvetica !important;
		font-weight: lighter !important;
	}
	.mayoreo{
		display: none;
	}
	h4{
		
	}
	.comprar-menu-button{
		cursor: pointer;
		width: 50px;
	}
	.list-group{
		position: relative;
		width: 290px;
	}

	.comprar-menu{
		margin-top: -62px;
		margin-left: 48px;
		height: 300px;
	}
}

.sets-y-mas{
	display: inline;
}
