.wip{
	position: fixed;
	z-index: 9999;
	border-bottom: 2px #3d4542 solid;
	text-align: center;
	background-color: lighten(#000, 95%);
	opacity: 0.85;
	bottom: 0;
	p{
		padding: 10px 50px 5px 50px;
	}
}

.container{
	margin-bottom: 50px;
}

#comingsoon{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	background-color: rgb(255, 255, 255);
	 -webkit-filter: grayscale(0.5) blur(10px);
	 opacity: .60;
}
